*{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    background-color: rgba(0, 0, 0, 0.527);
}
.container{
    width: 260px;
    height: 350px;
    background: black;
    margin: auto;
    margin-top: 50px;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pantalla{
    width: 230px;
    height: 45px;
    margin: 15px;
    text-align: end;
}

.borrar{
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 10%;
}

.boton{
    width: 40px;
    height: 40px;
    border-radius: 10%;
    background: #7FFFD4;
}

.columna{
    height: 250px;
    width: 40px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.doble {
    height: 90px;
}

